@use 'sass:color';

$base-font-family: --apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;

$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.42;
$spacing-unit:     $base-font-size;

$navbar-height: 3em;
$navbar-item-padding: 2em;

// Solarized palette
$solarized-base03:  #002b36; // dark bg
$solarized-base02:  #073642; // dark bg highlights
$solarized-base01:  #586e75; // dark secondary text / light comments
$solarized-base00:  #657b83; // light text
$solarized-base0:   #839496; // dark text
$solarized-base1:   #93a1a1; // dark secondary text / light comments
$solarized-base2:   #eee8d5; // light bg highlights
$solarized-base3:   #fdf6e3; // light bg

$solarized-yellow:  #b58900;
$solarized-orange:  #cb4b16;
$solarized-red:     #dc322f;
$solarized-magenta: #d33682;
$solarized-violet:  #6c71c4;
$solarized-blue:    #268bd2;
$solarized-cyan:    #2aa198;
$solarized-green:   #859900;

// Light theme (standard with Solarized code)
$light-bg: white;
$light-text: black;
$light-text-secondary: #aaa;
$light-link: #2a7ae2;
$light-code-bg: $solarized-base3;

// Dark theme (Solarized Dark)
$dark-bg: #001e26; // slightly darker than base03 for contrast
/* $dark-bg: oklch(0.2 0.04 218.16); */
$dark-text: $solarized-base0;
/* $dark-text: #bbb; */
$dark-text-secondary: $solarized-base01;
/* $dark-link: $solarized-blue; */
/* $dark-link: #529ed4; */
$dark-link: #2e7bb1;
/* $dark-bg: oklch(0.22 0 0); */
$dark-code-bg: $solarized-base03;

// CSS custom properties for theming
:root {
  --background-color: #{$light-bg};
  --text-color: #{$light-text};
  --text-color-secondary: #{$light-text-secondary};
  --blockquote-border: #{color.adjust($light-text-secondary, $lightness: 25%)};
  --link-color: #{$light-link};
  --hr-color: lightgrey;
  --card-border-color: #{color.adjust($light-text, $lightness: 50%)};
  --card-border-width: 1px;
  --card-shadow: rgba(0, 0, 0, 0.14);

  // Solarized Light code
  --code-bg: #{$light-code-bg};
  --code-text: #{$light-text};
  --code-border: #{color.adjust($light-code-bg, $lightness: -20%)};
  --code-comment: #{$solarized-base1};
  --code-keyword: #{$solarized-green};
  --code-string: #{$solarized-cyan};
  --code-constant: #{$solarized-orange};
  --code-type: #{$solarized-red};
  --code-function: #{$solarized-blue};
  --code-builtin: #{$solarized-yellow};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #{$dark-bg};
    --text-color: #{$dark-text};
    --text-color-secondary: #{$dark-text-secondary};
    --blockquote-border: #{color.adjust($dark-code-bg, $lightness: 5%, $saturation: -30%)};
    --link-color: #{$dark-link};
    --hr-color: #{color.adjust($dark-code-bg, $lightness: 5%, $saturation: -30%)};
    --card-border-color: #{color.adjust($dark-code-bg, $lightness: 5%, $saturation: -30%)};
    --card-border-width: 1.5px;
    --card-shadow: rgba(0, 0, 0, 0.2);

    // Solarized Dark code
    --code-bg: #{$dark-code-bg};
    --code-text: #{$dark-text};
    --code-border: #{color.adjust($dark-code-bg, $lightness: 5%)};
    --code-comment: #{$solarized-base01};
    --code-keyword: #{$solarized-green};
    --code-string: #{$solarized-cyan};
    --code-constant: #{$solarized-orange};
    --code-type: #{$solarized-red};
    --code-function: #{$solarized-blue};
    --code-builtin: #{$solarized-yellow};
  }
}

/**
* Reset some basic elements
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  // font-family: $base-font-family;
}

/**
* Basic styling
*/
body {
  /* font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family; */
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  min-height: 99vh;
  max-width: 100vw;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

.navbar {
  height: $navbar-height;
  width: 100%;
  top: 0; left: 0;
  display: flex;
  flex-direction: column;
  margin-top: calc($spacing-unit / 2);
}

.navbar__inner {
  @extend %list--reset;
  @extend %container--centered;

  flex: 1;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.navbar__text {
  color: var(--link-color);

  &:visited {
    color: var(--link-color);
  }
}

.navbar__item {
  font-size: 0.8em;
  letter-spacing: 0.02em;
  font-weight: bold;
  text-transform: uppercase;
  padding: $navbar-item-padding;

  &:first-child {
    margin-left: -$navbar-item-padding;
  }
}

main {
  @extend %container--centered;
  margin-top: $navbar-height;
  padding-top: 2 * $spacing-unit;
  min-height: 50vh;
  // padding-bottom: 12 * $spacing-unit;
  // padding-bottom: 25vh;
}

footer {
  @extend %container--centered;
  padding-top: 15vh;
  padding-bottom: 10vh;
  font-size: $small-font-size;
  color: var(--text-color-secondary);
  display: flex;
  // justify-content: center;
}

#footer-blurb {
  padding: 1em;
  padding-left: 0;
}

#footer-frog {
  /* #93a1a1 */
  @media (prefers-color-scheme: dark) {
    opacity: 0.6;
  }
}

.page-content {
  padding: $spacing-unit 0;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: var(--text-color-secondary);
}

.post-link {
  display: block;
  font-size: 18px;
}

.post-header {
  margin-bottom: 2.5 * $spacing-unit;
}

.post-title {
  font-size: 24px;
  margin-bottom: 0.25em;
}

hr {
  margin: 2 * $spacing-unit 0 - $spacing-unit;
  border-color: var(--hr-color);
  border-style: solid;
}
