<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    {% if page.title %}
      {{ page.title }} @ tautology.town
    {% else %}
      tautology.town
    {% endif %}
  </title>
  <meta name="description" content="tautology.town is a blog that contains tautologies.">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav class="navbar">
    <ul class="navbar__inner">
      <li class="navbar__item"><a class="navbar__text" href="/">Home</a></li>
      <li class="navbar__item"><a class="navbar__text" href="/about">About</a></li>
    </ul>
  </nav>
  <main>
    {{ content }}
  </main>
  <footer>
    <p id="footer-blurb"><i>see you 'round<br>tautology.town</i></p><img id="footer-frog" src="/assets/frog.svg" />
  </footer>
</body>
</html>
