---
layout: base
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    <!--
        DOM clobber 1Password Prism.js to fix syntax highlighting -_-"
        This is possible because Prism looks for the setting on window.Prism.manual before overwriting with actual Prism object (clobbering won't work if Prism is already defined).
    -->
    <a hidden id="Prism"></a><a hidden id="Prism" name="manual"></a>
    {{ content }}
  </div>

</article>
